* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    background-color: white;
    line-height: 1.4;
}

header {
    color: darkgreen;
    background-color: gold;
    padding: .25em;
    border-radius: 10px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.image {
    position: relative;
    width: 100%; /*for IE 6*/
    background-color: darkgreen;
    color: gold;
    border-radius: 10px;
}

.button {
    background-color: #ff6a00;
    padding: .25em;
    border-radius: 10px;
}

.retail {
    color: darkgreen;
    background-color: gold;
    font-size: 1.25em;
    padding: .5em;
    border-radius: 10px;
}

.hours {
    color: darkgreen;
    background-color: gold;
    font-size: 1.25em;
    padding: .5em;
}

.location {
    color: #111111;
    background-color: #ffffff;
    font-size: 1.25em;
    padding: .5em;
}

.comment {
    border: 1px solid #111111;
}

.contact {
    border: 1px solid #111111;
}

footer {
    color: darkgreen;
    background-color: gold;
    border: 1px solid #111111;
    border-radius: 10px;
}

iframe {
    width: 100%;
    padding: 0.0em;
}

span {
    font-weight: bold;
}

textarea {
    width: 90%;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 768px) {
    .retailhours {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

    .container {
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        width: 80%;
        margin: auto;
    }

    .button, .hours, .comment, .contact {
        display: none;
    }

    header, .headline, footer {
        width: 100%;
        margin: auto;
    }

    .image, .retail, .location {
        width: 50%;
        margin: auto;
    }
}
